// Fonts
$font-hind: 'Hind', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

// Project SOLO Theme Colors
$color-brand-primary: #003b43;
$color-brand-teal: #00c2a8;
$color-brand-card: #09474f;
$color-bg: #003b43;
$color-text-dark: #ffffff;
$color-text-disabled: #61aab1;
