<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content scroll-y="false">
        <div class="sidebar-header">
          <div class="brand-container">
            <img src="assets/projectsolo.png" alt="Project SOLO Logo" class="brand-logo-img" />
            <div class="brand-text">
              <span class="brand-title">Project</span>
              <span class="brand-subtitle">SOLO</span>
            </div>
          </div>
        </div>

        <ion-list id="main-menu-list" lines="none">
          <ion-list-header>NAVIGATION</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [name]="p.icon + '-outline'" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer class="ion-no-border">
        <div class="sidebar-footer">
          <div class="user-profile-card">
            <div class="user-avatar-initial">
              <span>A</span>
            </div>
            <div class="user-info">
              <span class="user-name">Admin Administrator</span>
              <span class="user-role">Admin Officer</span>
            </div>
          </div>

          <ion-menu-toggle auto-hide="false">
            <ion-button expand="block" fill="clear" class="signout-btn">
              <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
              Sign Out
            </ion-button>
          </ion-menu-toggle>
        </div>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-toast-notification></app-toast-notification>
</ion-app>
